*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  background-color: darkslategray;
  font-family: Helvetica, sans-serif;
}

.scoreboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard h2, h3 {
  color: salmon;
  font-size: 38pt;
  margin: 4rem 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.scoreboard h2 {
  font-size: 28pt;
}

.scoreboard p{
  font-size: 48pt;
}

#endgame{
  visibility: hidden;
  margin: 2rem;

}

#reset-btn{
  font-size: 28pt;
  color: darkslategrey;
  background-color: lightcoral;
  border-radius: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 2px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border: transparent;
  margin-top: 2rem;
  margin-bottom: 0px;
}

h3{
  margin-top: 2rem;
  font-size:  28pt;
}

#best-score{
  text-align: center;
  font-size: 16pt;
}

.memory-game{
  height: 640px;
  width: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card{
  height: calc(33.333% - 10px);
  width: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d; /* não deixa o elemento achatado no plano */
  transition: transform .9s;
}

.card:active{
  transform: scale(0.97);
  transition: transform .3s;
}

.card-front,
.card-back{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #ffffff;
  backface-visibility: hidden;
}

.card-front{
  transform: rotateY(180deg);
}

/* flip card animation */

.card.flip{
  transform: rotateY(-180deg);
}